<?xml version="1.0" encoding="UTF-8"?>
<beans default-lazy-init="true" xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:int="http://www.springframework.org/schema/integration"
	xmlns:int-http="http://www.springframework.org/schema/integration/http"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd
           http://www.springframework.org/schema/integration 
		   http://www.springframework.org/schema/integration/spring-integration.xsd
		   http://www.springframework.org/schema/integration/http
		   http://www.springframework.org/schema/integration/http/spring-integration-http.xsd
		   http://www.springframework.org/schema/security 
		   http://www.springframework.org/schema/security/spring-security.xsd
		   http://www.springframework.org/schema/aop
		   http://www.springframework.org/schema/aop/spring-aop.xsd">
		
	<bean id="RedisClient" class="com.lambdaworks.redis.support.RedisClientFactoryBean">
		<property name="uri" value="${redisUri}"/>
	</bean>
	<bean id="RedisService" class="com.company.messagerie.service.RedisServiceImpl"/>

	<bean id="BusinessService" class="com.company.messagerie.service.BusinessServiceImpl"/>
</beans>